body {
    font-family: 'Roboto Slab', serif !important;
}

svg {
    width: 100%;
    height: 100%;
    box-shadow: 2px 2px 4px #999999;
    border: 1px solid #666666;
}


/* main board */
#main-board {
    background: #333;
}

#main-board .cell-white, #main-board .cell-dark {
    stroke: #999;
    stroke-width: 0.01;
}

#main-board .cell-white {
    fill: white;
}

#main-board .cell-dark {
    fill: #aa4422;
}

#main-board .cell-white.unavailable, #main-board .cell-dark.unavailable {
    stroke: white;
    stroke-width: 1;
}

#main-board .cell-white.unavailable {
    fill: #666666;
}

#main-board .cell-dark.unavailable {
    fill: #766666;
}


#main-board .queen {
    fill: white;
    stroke: none;
}

/* solution svg */
.solution {
    background: white;
}

#solutions .cell {
    padding: 0 1em 0.5em 0 !important;
}

.solution .cell-white {
    fill: white;
}

.solution .cell-dark {
    fill: #999999;
}

.solution .queen.queen-on-dark {
    fill: white;
    stroke: none;
}

.solution .queen.queen-on-white {
    fill: #999999;
    stroke: none;
}


/* logs */
#logs li {
    font-family: monospace;
}

#logs li pre {
    font-family: monospace;
    font-size: 1.0em;
}

#logs .ERROR {
    color: darkred;
}

