<?xml version="1.0" encoding="utf-8" ?>
<config>
    <!--
        Minimum time each person stays in each state
    -->
    <min-time>
        <state id="HOME" minutes="60"/>
        <state id="WORKING" minutes="60"/>
        <state id="SHOPPING" minutes="30"/>
    </min-time>

    <transitions>
        <from id="HOME">
            <!-- from 07:00AM to 01:00PM-->
            <time hour="7">
                <to id="WORKING" probability="1.00"/>
                <to id="SHOPPING" probability="0.0"/>
                <!-- The remaining 0.20 goes for no change - resident stays home-->
            </time>

            <!-- from 01:00PM to 07:00AM-->
            <time hour="13">
                <to id="WORKING" probability="0.00"/>
                <to id="SHOPPING" probability="0.00"/>
                <!--
                The remaining 0.98 probability goes for 'no change', that is resident keeps
                the 'HOME' state (very few people are shopping/working at night)
                -->
            </time>
        </from>
        <from id="WORKING">
            <!-- from 07:00AM to 05:00PM-->
            <time hour="7">
                <to id="HOME" probability="0.0"/>
                <to id="SHOPPING" probability="0.0"/>
            </time>

            <!-- from 05:00PM to 07:00AM-->
            <time hour="17">
                <to id="HOME" probability="1.0"/>
                <to id="SHOPPING" probability="0.0"/>
            </time>
        </from>

        <from id="SHOPPING">
            <time hour="0">
                <to id="HOME" probability="1.0"/>
            </time>
        </from>
    </transitions>
</config>