body {
    font-family: 'Roboto Slab', serif !important;
}


svg {
    width: 100%;
    height: 100%;
}

#chart-wrapper {
    position: relative;
}

#zoom-controls {
    position: absolute;
    top: 0;
    left: 0;
    margin-bottom: 0.5em !important;
}
